In [18]:
import pandas as pd
import os

file_loc='./data/'

file=os.path.join(file_loc,'goodreads_interactions.csv')
interactions=pd.read_csv(file)
interactions.head()

interactions['rating'].value_counts(normalize=True)

0    124096793
4     37497451
5     35506166
3     23307457
2      6189946
1      2050529
Name: rating, dtype: int64

In [19]:
authors_file=os.path.join(file_loc,'goodreads_book_authors.json')
authors=pd.read_json(authors_file, lines=True)
authors.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740